<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="well">
	    <h1>Look Up Your Local Forecast</h1>
	    <p>What's the weather like in your city?</p>
	    <div>
            <%= form_tag index_path do %>
		    <%= text_field_tag :city, nil, placeholder: "City", class: "form-control" %><br />
		    <%= select_tag :state, options_for_select(@states), prompt: "Please select" %><br />
		    <%= submit_tag "Check Weather", class: "btn btn-primary" %>
		<% end %>
	    </div>
		<h1>Welcome To <%= @location %>!</h1>
			<div class='row'>
				<div class='col-md-7'>
					<p><em> What's the weather like? </em></p>
					<p>
					Temperature is: <%= @temp_f %> f/ <%= @temp_c %> c
					</p>
					<p>
					Feels like: <%= @feels_like %> f
					</p>
					</div>
					<div class='col-md-5'>
					<p>
						<% unless @weather_icon.blank? %>
							<%= image_tag @weather_icon %>
						<% end %>
					</p>
					<p>
					<%= link_to "Full Forecast", @forecast_link, target: '_blank' %>
					</p>
				</div>
			</div>
		</div>
    </div>
</div>
